@mixin iconsFontStyle() {
    font-style: normal;
    font-weight: 400;
    src: url(material-symbols.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    @include iconsFontStyle();
}

@font-face {
    font-family: 'Material Icons Outlined';
    @include iconsFontStyle();
}

@font-face {
    font-family: 'Material Icons';
    @include iconsFontStyle();
}

.material-symbols {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    $normal-size: 24;
    $large-size: 30;

    &.outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' $normal-size;

        &.large {
            font-size: #{$large-size}px;
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' $large-size;
        }
    }

    &.filled {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' $normal-size;

        &.large {
            font-size: #{$large-size}px;
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' $large-size;
        }
    }
}