# Node.js
node_modules
npm-debug.log
.env
.idea
.vscode

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
.venv
venv/

# Git
.git
.gitignore

# macOS
.DS_Store

# Common
# Exclude editor and OS files, as well as test results
dist
dist-electron
build
coverage
test_results/
out

data
logs