@use "../../css/material" as *;

#electron-title-bar {
    display: none;
}

html.electron {
    #electron-title-bar {
        display: flex;
        flex-direction: row;
        gap: 8px;
        min-height: 40px;
        background-color: $color-dark-surface-container;
        width: 100%;
        -webkit-app-region: drag;
        user-select: none;
        z-index: 10;
        transition: background-color 0.5s ease;
        flex-shrink: 0;

        &.color-surface {
            background-color: $color-dark-surface;
        }
    }

    #window-title {
        flex: 1;
        display: flex;
        align-items: center;
        font-weight: 500;
    }

    #main-wrapper {
        flex: 1;
        min-height: 0;
    }

    &.platform-darwin .macos-padding {
        width: 80px;
    }
}